<div class="page-wrap">
  <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse navbar-global">
    <app-header></app-header>
  </nav>

  <nav class="side-menu">
    <app-side-menu></app-side-menu>
  </nav>

  <main class="content-wrap" data-effect="push">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-main">
          <div class="col-main-inner">
            <div class="row">

              <div class="col">

                <div class="page-head">
                  <app-page-head></app-page-head>
                </div>
                <div id="me0019">
                  <div class="header mb-3 d-flex align-items-center">
                    <button type="button" class="btn btn-secondary"><i class="fa fa-angle-left" aria-hidden="true"></i>
                        前へ</button>
                    <div class="center d-inline-block">
                      <div class="d-flex justify-content-center ">
                        <div class="user mb-5">
                          <div class="user-img d-inline-block align-middle mr-2">
                            <img src="/assets/img/user.png" class="rounded-circle avatar-img-bordered avatar-img-76" alt="">
                          </div>
                          <div class="user-description d-inline-block align-middle">
                            <span class="fs12">まつもと  しゅうぞう</span>
                            <p class="fs24 mb-0">松本 修三</p>
                            <p class="fs18 mb-0">ABC製薬／製薬企業(MR)</p>
                          </div>
                          <button type="button" class="btn btn-outline-warning ml-5">メッセージ</button>
                        </div>
                      </div>
                    </div>
                    <button type="button" class="btn btn-secondary">次へ <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </button>
                  </div>
                  <div class="content">
                    <table class="table fs16 mb-4">
                      <thead class="thead-inverse">
                        <tr>
                          <th>自己PR</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れてい</td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="middle mb-5">
                      <table class="table fs16">
                        <thead class="thead-inverse">
                          <tr>
                            <th colspan="5">面会に関する要望</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>要望</th>
                            <td>
                              <ul>
                                <li>薬剤の情報提供</li>
                                <li>ガイドラインの情報提供</li>
                                <li>講演会の情報提供</li>
                                <li>近隣施設・地域の情報提供</li>
                                <li>協賛の相談</li>
                                <li>その他</li>
                              </ul>
                            </td>
                            <td>
                              <ul>
                                <li>文献の相談・依頼</li>
                                <li>勉強会の情報提供</li>
                                <li>学会の情報提供</li>
                                <li>研究活動の相談</li>
                                <li>MSL・学術担当の紹介依頼</li>
                              </ul>
                            </td>
                            <th>詳細</th>
                            <td>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字</td>

                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="buttom mb-3">
                      <div class="d-flex justify-content-center mb-5">
                        <button type="button" class="btn btn-lg btn-success"> 下記の面会可能なスケジュール以外で申請</button>
                      </div>
                      <table class="table table-hover fs16">
                        <thead class="thead-inverse">
                          <tr>
                            <th>日時</th>
                            <th>ステータス</th>
                            <th>応募数</th>
                            <th>応募</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>01月01日(月) 17:00〜17:30</td>
                            <td>募集中</td>
                            <td>2名が応募中</td>
                            <td></td>
                            <td><button type="button" class="btn btn-lg btn-success"> この日時で応募</button></td>
                          </tr>
                          <tr class="disabled-row">
                            <td>01月01日(月) 17:00〜17:30</td>
                            <td> <span class="text-warning">応募済み</span> </td>
                            <td>3名が応募中</td>
                            <td></td>
                            <td><button type="button" class="btn btn-lg btn-success"> この日時で応募</button></td>
                          </tr>
                          <tr class="disabled-row">
                            <td>01月01日(月) 17:00〜17:30</td>
                            <td>終了</td>
                            <td>1名が応募中</td>
                            <td></td>
                            <td><button type="button" class="btn btn-lg btn-success"> この日時で応募</button></td>
                          </tr>
                          <tr>
                            <td>01月01日(月) 17:00〜17:30</td>
                            <td>募集中</td>
                            <td>2名が応募中</td>
                            <td></td>
                            <td><button type="button" class="btn btn-lg btn-success"> この日時で応募</button></td>
                          </tr>
                          <tr>
                            <td>01月01日(月) 17:00〜17:30</td>
                            <td>募集中</td>
                            <td>2名が応募中</td>
                            <td></td>
                            <td><button type="button" class="btn btn-lg btn-success"> この日時で応募</button></td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="schedule mt-4">
                        <div class="d-flex justify-content-center "><a href="#" class="font-weight-bold fs16">これ以降の予定を見る</a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--<div class="col-12 col-lg-3 col-sub">-->
        <!--<app-col-sub></app-col-sub>-->
        <!--</div>-->

      </div>

    </div>
  </main>

  <aside class="info-panel collapse" id="info-panel">
    <app-info-panel></app-info-panel>
  </aside>

  <aside class="settings-panel collapse" id="settings-panel">
    <app-settings-panel></app-settings-panel>
  </aside>
</div>
