
<div class="chat-room">
<div class="content-sticker" id="content-sticker" [ngClass]="{'open-sticker': open}" (clickOutside)="closePopup()">
  <div class="popup-sticker position-relative py-3 text-center" >
    <span class="close-pupup-sticker position-absolute"><i class="fa fa-times-circle text-white" aria-hidden="true" (click)="closePopup()"></i></span>
    <img *ngIf="currentImageUrl" src="{{currentImageUrl}}" class="avatar-img-bordered avatar-img-200" alt="">
  </div>
  <div class="wrapper-sticker">
    <div class="tab-list-sticker">
      <ul class="tab-list-sticker-content p-0 m-0">
        <ng-container *ngFor="let stamp of listStamps">
          <li class="tab-list-sticker-itemt d-inline-block mx-2 my-2" (click)="selectStamp($event, stamp.stampId)"
              *ngIf="stamp.stamp.available"><span><img src="{{stamp.stampUrl}}"
                                                       class="avatar-img-bordered avatar-img-76"
                                                       alt="{{stamp.stamp.title}}" title="{{stamp.stamp.title}}"
                                                       (mouseover)="onHoverImage($event)"></span></li>
        </ng-container>
      </ul>
    </div>
    <div class="clearfix sticker-chat position-relative bg-faded p-0">
      <div class="prew-sticky-chat position-absolute px-2" (click)="triggerScrollToOffsetOnly('-=200')">
        <i class="fa fa-caret-left text-white" aria-hidden="true"></i>
      </div>
      <ul class="list-sticker-chat px-4 m-0 text-info"  id="list-sticker-chat">
        <li class="list-sticker-item d-inline-block py-3 px-3" *ngFor="let category of listStampsCategories" [ngClass]="{'selected-stamp': selectedStampId === category.id}"
            (click)="showStamps(category.id)"><span>{{category.name}}</span></li>
      </ul>
      <div class="next-sticky-chat position-absolute px-2" (click)="triggerScrollToOffsetOnly('+=200')">
        <i class="fa fa-caret-right text-white" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
</div>
