<div class="img-group d-flex flex-wrap">
  <div *ngFor="let file of listAttachments">
    <div class="support-content-img img-detail" *ngIf="file.type === 'image'" (click)="filePreviewOpen($event, file.fileId)">
      <figure class="figure">
        <img src="/assets/img/empty.gif" [lazyLoad]="file.url" class="m-0 img-fluid lazyload" [title]="file.name" [offset]="500">
      </figure>
    </div>
    <div class="support-file position-relative img-detail" *ngIf="file.type === 'video'" (click)="filePreviewOpen($event, file.fileId)" [style.width]="file.resizedWidth">
      <div id="play-btn-wrap" class="position-absolute" #playBtn [style.width]="file.resizedWidth">
        <div class="play-btn cursor-pointer">
          <span id="play"><i class="fa fa-play fs-16 text-muted" aria-hidden="true"></i></span>
        </div>
      </div>
      <img src="/assets/img/empty.gif" [lazyLoad]="file.url" class="m-0 img-fluid lazyload" [title]="file.name" [offset]="500" (load)="playBtn.style.visibility = 'visible'">
      <br>
    </div>
  </div>
</div>
<div *ngFor="let file of listAttachments">
  <div *ngIf="file.type === 'audio'" class="audio-detail">
    <audio controls="controls" class="d-flex w-100" controlsList="nodownload" [src]="file.url"></audio>
    <a href="#" (click)="downloadFile($event, file)"><i class="fa fa-paperclip pr-1 fs24"></i>{{file.name}}</a>
  </div>
  <div *ngIf="['image', 'video', 'audio'].indexOf(file.type) < 0">
    <a href="#" (click)="downloadFile($event, file)"><i class="fa fa-paperclip pr-1 fs24"></i>{{file.name}} {{file.size | formatSizeUnits}}</a>
  </div>
</div>
