// import common setting
@import '../../../../assets/styles/_import';
.control-top {
  .btn-group {
    .btn {
      &:last-child {
        margin-left:-1px; 
      }
    }
  }
  .select {
    width: 9rem;
    height:auto !important;
  }
}
.table-calendar {
  th, td {
    width: 2rem;
    padding:0.25rem;
    font-size: 0.75rem;
    font-weight: normal;
    border: 1px solid #d7d7d7 !important;
    vertical-align: middle;
  }
  thead {
    th {
      text-align: center;
      padding:0.25rem 0;
      .day, 
      .date {
        display: block;
        padding: 0.25rem 0;
      }
      .day {
        background-color: #EEE;
      }
    }
  }
  tbody {
    tr {
      td {
        border-bottom-style: dashed !important;
        border-top-style: dashed !important;
      }
      &:last-child {
        td {
          border-bottom-style: solid !important;
        }
      }
      &:first-child {
        td {
          border-top-style: solid !important;
        }
      }
    }
  }
  .col-title {
    width: 9%;
    background: none;
    border-left: none !important;
  }
  .hourly {
    background-color: #EEE;
  }
  .saturday {
    color: #0053a0;
  }
  .sunday {
    color: #d11d4a;
  }
  .stt-pink {
    background-color: #ffebfb;
  }
  .stt-orange {
    background-color: #ffcd97;
  }
  .stt-grey {
    background-color: #dcdcdc;
  }
  .stt-purple {
    background-color: #e4cff9;
  }
  .stt-green {
    background-color: #e7efd8;
  }
  .clr-ext {
    opacity: 0.4;
  }
  .hiden-th {
    background: #fff;
    border: none !important;
  }
  .date-number {
    th {
      background: none;
      border-top: none !important;
      padding:0;
    }
  }
}
.name-dpm {
  color: #777;
}
.bg-green {
  background-color: #91b05f;
}
.bg-purple {
  background-color: #9466af;
}
.bg-pink {
  background-color: #ea81ac;
}
.bg-blue {
  background-color: #58c2df;
}
.bg-orange {
  background-color: #f08c00;
}
.bg-check {
  background-color: #fcf8e3;
}
.bg-white {
  background-color: #fff !important;
}
.shift-row {
  margin: 0.25rem;
  .shift-icon {
    width: 2.5rem;
    min-width:2.5rem;
    .icon-inner {
      border-radius:3px;
      text-align: center;
      height: 1.25rem;
      line-height: 1.25rem;
      color: #fff;
      vertical-align: top;
      margin-right:0.25rem;
    }
  }
}
//Reset tbody
.tbody-inverse {
  &::before {
    height: inherit;
  }
}
.table-explain {
  th {
    vertical-align: middle;
  }
  .col-title {
    background-color: #EEE;
  }
  tr:nth-child(odd){
    background-color: #f8f8f8;
  }
}

#modal-duty {
  .modal-header {
    display: block;
    border-bottom: none;
  }
  .modal-footer {
    justify-content:center;
    border-top: none;
  }
  .table {
    th, td {
      padding: 0.25rem;
      vertical-align: middle;
      text-align: center;
    }
    td:nth-child(2){
      text-align: left;
    }
    td:nth-child(1){
      width: 12rem;
      text-align: left;
    }
  }
}


// Extra large devices (large desktops, 画面サイズ1200px以上)
@include media-breakpoint-down(xl) {
  .table-shift {
    white-space: nowrap;
  }
}
