<div class="page-wrap">
  <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse navbar-global">
    <app-header></app-header>
  </nav>

  <nav class="side-menu">
    <app-side-menu></app-side-menu>
  </nav>

  <main class="content-wrap" data-effect="push">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-main">
          <div class="col-main-inner">
            <div class="row">

              <div class="col">

                <div class="page-head">
                  <app-page-head></app-page-head>
                </div>

                <!--contents-->
                <div class="content-box p-3">
                  <span *ngFor="let drug of model.drugs; let cate = index">
                    <span *ngFor="let item of drug.items; let ite = index" [hidden]="item.selected === false" class="pr-3"><a href="javascript:void(0)" (click)="removeItemDisplay(cate, ite)"><i class="fa fa-close" aria-hidden="true"></i></a>{{item.drugName}}</span>
                  </span>
                </div>
                <form #editDrugsSettingsForm="ngForm" (ngSubmit)="putInterestedDrugs()">
                  <div class="checkbox mt-4">
                    <label class="custom-control custom-checkbox m-0">
                      <input type="checkbox" class="custom-control-input" (click)="checkAllSelected()" [checked]="selectedAllItem">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description">{{'ME0020.LABEL_CHECKALL' | translate}}</span>
                    </label>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 mt-1 mb-3" *ngFor="let drug of model.drugs; let cate = index">
                      <div class="box-checkbox">
                        <div class="head-checkbox p-2">
                          <label class="custom-control custom-checkbox m-0">
                            <input type="checkbox" class="custom-control-input" [checked]="drug.allSelected" name="{{drug.categoryId}}"
                                   (click)="checkAllCategoryDrug(cate)" [(ngModel)]="drug.allSelected">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">{{'ME0020.' +
                              'LABEL_CHECKALL' | translate}}</span>
                          </label>
                        </div>
                        <div class="checkbox-invite">
                          <div class="checkbox-invite-box row m-0" >
                            <div class="col-sm-6 col-md-6 col-lg-6 p-2" *ngFor="let item of drug.items; let ite = index">
                              <label class="custom-control custom-checkbox m-0">
                                <input type="checkbox"[checked]="item.selected" (click)="checkItem(cate,ite)"
                                       [(ngModel)]="item.selected" name="{{item.drugId}}" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">{{item.drugName}}</span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex justify-content-center my-2">
                    <button class="btn btn-primary" type="submit">{{'ME0021.BTN_SAVE' | translate}}</button>
                  </div>
                </form>
                <!-- //contents -->
              </div>
            </div>
          </div>
        </div>

        <!--<div class="col-12 col-lg-3 col-sub">-->
        <!--<app-col-sub></app-col-sub>-->
        <!--</div>-->

      </div>

    </div>
  </main>
  <aside class="info-panel collapse" id="info-panel">
    <app-info-panel></app-info-panel>
  </aside>

  <aside class="settings-panel collapse" id="settings-panel">
    <app-settings-panel></app-settings-panel>
  </aside>
</div>
