
<div class="page-wrap">
  <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse navbar-global">
    <app-header></app-header>
  </nav>

  <nav class="side-menu">
    <app-side-menu></app-side-menu>
  </nav>

  <main class="content-wrap">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-main">
          <div class="col-main-inner">
            <div class="row">
              <!--contents-->
              <!--contents SH0007-->

              <div class="col">
                <div class="page-head">
                  <app-page-head [title]="'SH0012.PAGE_TITLE' | translate"></app-page-head>
                </div>
                <div class="setting-skill mb-5">
                	<p>スタッフのスキルの種類を登録します。「＋追加」ボタンから追加してください。</p>
                  <div class="control-top rounded mb-4 py-4 px-3 clearfix">
                      <div class="control-left float-md-left float-none mb-2 mb-md-0">
                          <span class="control-text d-inline-block pr-2">編集する月を選択</span>
                          <button class="btn btn-primary mr-2">今週</button>
                          <div class="d-inline-block btn-group mr-2">
                              <button class="btn btn-secondary float-left"><i class="fa fa-angle-left"></i></button>
                              <button class="btn btn-secondary float-left"><i class="fa fa-angle-right"></i></button>
                          </div>
                      </div>
                      <div class="calendar-date fs24 d-block d-md-flex justify-content-center align-items-center">2018年6月</div>
                  </div>
                	<ul class="skill-lst pl-0">
                		<li class="clearfix">
                			<div class="skill-ttl py-1">スキル名称<span class="text-danger">※</span></div>
                			<div class="name-skill">
                				<p class="mb-0 text-danger fs12 text-info">必須項目です</p>
                				<input class="form-control" type="" name="" placeholder="4文字以内">
                				<p _ngcontent-c3="" class="count-input mb-0">0/4</p>
                			</div>
                			<div class="skill-ttl-2 py-1 text-left text-lg-right">説明</div>
                			<div class="skill-desc">
                				<input class="form-control" type="" name="" placeholder="30文字以内">
                				<p _ngcontent-c3="" class="count-input mb-0">0/30</p>
                			</div>
                			<div class="close-setting text-right">
												<span class="btn-close"><i class="fa fa-close fs35"></i></span>
											</div>
                		</li>
                		<li class="clearfix">
                			<div class="skill-ttl py-1">スキル名称<span class="text-danger">※</span></div>
                			<div class="name-skill">
                				<p class="mb-0 text-danger fs12 text-info">必須項目です</p>
                				<input class="form-control" type="" name="" placeholder="4文字以内">
                				<p _ngcontent-c3="" class="count-input mb-0">0/4</p>
                			</div>
                			<div class="skill-ttl-2 py-1 text-left text-lg-right">説明</div>
                			<div class="skill-desc">
                				<input class="form-control" type="" name="" placeholder="30文字以内">
                				<p _ngcontent-c3="" class="count-input mb-0">0/30</p>
                			</div>
                			<div class="close-setting text-right">
												<span class="btn-close"><i class="fa fa-close fs35"></i></span>
											</div>
                		</li>
                		<li class="clearfix">
                			<div class="skill-ttl py-1">スキル名称<span class="text-danger">※</span></div>
                			<div class="name-skill">
                				<input class="form-control" type="" name="" placeholder="4文字以内">
                				<p _ngcontent-c3="" class="count-input mb-0">0/4</p>
                			</div>
                			<div class="skill-ttl-2 py-1 text-left text-lg-right">説明</div>
                			<div class="skill-desc">
                				<input class="form-control" type="" name="" placeholder="30文字以内">
                				<p _ngcontent-c3="" class="count-input mb-0">0/30</p>
                			</div>
                			<div class="close-setting text-right">
												<span class="btn-close"><i class="fa fa-close fs35"></i></span>
											</div>
                		</li>
                		<li class="clearfix">
                			<div class="skill-ttl py-1">スキル名称<span class="text-danger">※</span></div>
                			<div class="name-skill">
                				<input class="form-control" type="" name="" placeholder="4文字以内">
                				<p _ngcontent-c3="" class="count-input mb-0">0/4</p>
                			</div>
                			<div class="skill-ttl-2 py-1 text-left text-lg-right">説明</div>
                			<div class="skill-desc">
                				<input class="form-control" type="" name="" placeholder="30文字以内">
                				<p _ngcontent-c3="" class="count-input mb-0">0/30</p>
                			</div>
                			<div class="close-setting text-right">
												<span class="btn-close"><i class="fa fa-close fs35"></i></span>
											</div>
                		</li>
                		<li class="clearfix">
                			<div class="skill-ttl py-1">スキル名称<span class="text-danger">※</span></div>
                			<div class="name-skill">
                				<input class="form-control" type="" name="" placeholder="4文字以内">
                				<p _ngcontent-c3="" class="count-input mb-0">0/4</p>
                			</div>
                			<div class="skill-ttl-2 py-1 text-left text-lg-right">説明</div>
                			<div class="skill-desc">
                				<input class="form-control" type="" name="" placeholder="30文字以内">
                				<p _ngcontent-c3="" class="count-input mb-0">0/30</p>
                			</div>
                			<div class="close-setting text-right">
												<span class="btn-close"><i class="fa fa-close fs35"></i></span>
											</div>
                		</li>
                	</ul>
                	<div class="mb-5"><a class="add-link" href=""><i class="fa fa-plus-square"></i>追加</a></div>
	                <div class="text-center">
	                	<button class="btn btn-primary">保存</button>
	                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="col-12 col-lg-3 col-sub">-->
        <!--<app-col-sub></app-col-sub>-->
        <!--</div>-->
      </div>
    </div>
  </main>

  <aside class="info-panel collapse" id="info-panel">
    <app-info-panel></app-info-panel>
  </aside>

  <aside class="settings-panel collapse" id="settings-panel">
    <app-settings-panel></app-settings-panel>
  </aside>
</div>


