@import '../../../../assets/styles/_import';

.table-form {
	margin:35px 0 0;
}
.table-checkbox-label {
  white-space: nowrap;
  width: 1rem;
}

//@media (max-width: 767px)
@include media-breakpoint-down(sm) {
  .table-checkbox {
    border-bottom-style: none;
  }
  .table-checkbox-label {
    border: none;
  }
  .table-checkbox-label,
  .table-checkbox-content {
    display: block;
    width: 100%;
  }
}
