<div class="page-wrap">
  <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse navbar-global">
    <app-header></app-header>
  </nav>

  <nav class="side-menu">
    <app-side-menu></app-side-menu>
  </nav>

  <main class="content-wrap" data-effect="push">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-main">
          <div class="col-main-inner">
            <div class="row">
              <!--contents-->
              <div class="col">
                <div class="page-head">
                  <app-page-head [title]="'RE0021.TITLE' | translate"></app-page-head>
                </div>
                <form #notificationForm="ngForm" (ngSubmit)="putNotificationSettings(model)">
                  <div class="table-form">
                    <h2>{{'COMMON_LABEL.NOTIFICATION_EMAIL' | translate}}</h2>
                    <table class="table table-bordered table-checkbox">
                      <tbody class="tbody-inverse">
                      <tr>
                        <th class="table-checkbox-label">{{'COMMON_LABEL.LBL_GROUP' | translate}}</th>
                        <td class="table-checkbox-content">
                          <div class="custom-control-checkbox">
                            <label class="custom-control custom-checkbox">
                              <input [(ngModel)]="model.mailWhenNewPost" id="mailWhenNewPost" name="mailWhenNewPost" type="checkbox" class="custom-control-input">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">{{'RE0021.GROUP_NEW_POST' | translate}}</span>
                            </label>
                          </div>
                          <div class="custom-control-checkbox">
                            <label class="custom-control custom-checkbox">
                              <input [(ngModel)]="model.mailWhenMentioned" id="mailWhenMentioned" name="mailWhenMentioned" type="checkbox" class="custom-control-input">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">{{'RE0021.GROUP_MENTIONED' | translate}}</span>
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="table-checkbox-label">{{'RE0021.MESSAGE.UP' | translate}}{{(!userSession.personalFlag) ? ('RE0021.MESSAGE.DOWN' | translate) : ''}}<br>{{('RE0021.MESSAGE.UNREAD' | translate)}}</th>
                        <td class="table-checkbox-content">
                          <div class="custom-control-checkbox">
                            <label class="custom-control custom-checkbox">
                              <input [(ngModel)]="model.mailWhenNewPostLeftUnread" id="mailWhenNewPostLeftUnread" name="mailWhenNewPostLeftUnread" type="checkbox" class="custom-control-input">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">{{'RE0021.GROUP_NEW_POST' | translate}}</span>
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="table-checkbox-label">{{'RE0021.VISITATION' | translate}}</th>
                        <td class="table-checkbox-content">
                          <div class="custom-control-checkbox">
                            <label class="custom-control custom-checkbox">
                              <input [(ngModel)]="model.mailWhenRequestReceived" id="whenRequestMRArrives" name="whenRequestMRArrives" type="checkbox" class="custom-control-input">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">{{'RE0021.MAIL_MR_ARRIVE' | translate}}</span>
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="table-checkbox-label">{{'RE0021.BACK' | translate}}</th>
                        <td class="table-checkbox-content">
                          <div class="custom-control-checkbox">
                            <label class="custom-control custom-checkbox">
                              <input [(ngModel)]="model.mailWhenVisit" id="mailWhenVisit" name="mailWhenVisit" type="checkbox" class="custom-control-input">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">{{'RE0021.MAIL_VISIT' | translate}}</span>
                            </label>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="table-form">
                    <h2>{{'COMMON_LABEL.DESKTOP_NOTIFICATION' | translate}}</h2>
                    <table class="table table-bordered table-checkbox">
                      <tbody class="tbody-inverse">
                      <tr>
                        <th class="table-checkbox-label">{{'COMMON_LABEL.LBL_GROUP' | translate}}</th>
                        <td class="table-checkbox-content">
                          <div class="custom-control-checkbox">
                            <label class="custom-control custom-checkbox">
                              <input [(ngModel)]="model.desktopWhenNewPost" id="desktopWhenNewPost" name="desktopWhenNewPost" type="checkbox" class="custom-control-input">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">{{'RE0021.GROUP_NEW_POST' | translate}}</span>
                            </label>
                          </div>
                          <div class="custom-control-checkbox">
                            <label class="custom-control custom-checkbox">
                              <input [(ngModel)]="model.desktopWhenMentioned" id="desktopWhenMentioned" name="desktopWhenMentioned" type="checkbox" class="custom-control-input">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">{{'RE0021.GROUP_MENTIONED' | translate}}</span>
                            </label>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <th class="table-checkbox-label">{{'RE0021.MESSAGE.UP' | translate}}{{(!userSession.personalFlag) ? ('RE0021.MESSAGE.DOWN' | translate) : ''}}<br>{{('RE0021.MESSAGE.UNREAD' | translate)}}</th>
                        <td class="table-checkbox-content">
                          <div class="custom-control-checkbox">
                            <label class="custom-control custom-checkbox">
                              <input [(ngModel)]="model.desktopWhenNewPostLeftUnread" id="desktopWhenNewPostLeftUnread" name="desktopWhenNewPostLeftUnread" type="checkbox" class="custom-control-input">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">{{'RE0021.GROUP_NEW_POST' | translate}}</span>
                            </label>
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="d-flex justify-content-center"><button type="submit" class="btn btn-primary">{{'COMMON_BTN.SAVE' | translate}}</button></div>
                </form>

              </div>
              <!-- //contents -->
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-sub">
          <app-col-sub></app-col-sub>
        </div>
      </div>
    </div>
  </main>

  <aside class="info-panel collapse" id="info-panel">
    <app-info-panel></app-info-panel>
  </aside>

  <aside class="settings-panel collapse" id="settings-panel">
    <app-settings-panel></app-settings-panel>
  </aside>
</div>
