// import common setting
@import '../../../../assets/styles/_import';
.control-bar {
  .select-business {
    width:9rem;
  }
}
.btn-control {
  .btn {
    padding: 0.25rem 0.75rem;
  }
  .btn-lst {
    width: calc(100% - 190px);
    .btn {
      width:9%;
      max-width:3rem;
      padding:0.25rem;
      margin:0 0.25rem;
    }
  }
}
.tabl-recruit {
  td {
    vertical-align: middle;
    border-left:1px solid #D7D7D7 !important;
  }
  .tbl-check {
    width:5rem;
  }
}


.select-content {
  .select-col1 {
    width: 49%;
  }
  .select-container {
    background-color: #FFF;
    border: 1px solid #CCC;
    @include border-radius(0.3rem);
    .select-search {
      border-bottom:1px solid #D7D7D7;
    }
  }
}
.tab-selec-drug {
  .select-container {
    width:80%;
    max-width: 350px;
    margin: 0 auto;
    .lst-drug {
      overflow-y: auto;
      height: 350px;
      li {
        list-style: none;
        margin-bottom:0.5rem;
        &:last-child {
          margin-bottom:0;
        }
        .custom-control {
          padding-left: 2.5rem;
        }
      }
    }
  }
}

// @media (max-width: 767px) { ... }
@include media-breakpoint-down(md) {
  .btn-control {
    .btn-lst {
      width:100%;
      clear:both;
      .btn {
        width:14%;
        margin:0 0.3% 0.5rem;
      }
    }
  }
  .tabl-recruit {
    th, td {
      display:block;
      width:100% !important;
      border-left:1px solid #D7D7D7 !important;
      border-right:1px solid #D7D7D7 !important; 
    }
  }
}

@include media-breakpoint-down(xs) {
  .control-bar {
    .search-bar {
      width:100%;
    }
    .select-business {
      width:100%;
    }
    .control-bar-right {
      width:100%;
    }
  }
}
