@import '../../../../assets/styles/_import';

.login-page {
  background-color:#f18d00;
  max-width:520px;
  margin:50px auto;
  padding:20px;
  border-radius:10px;
  border:1px solid #8e5300;
  .area-cmn {
    background-color:#eeeeee;
  }
  .tbl-regit {

  }
}

.search-offices-box{
  background: #fff;
  position: absolute;
  height: 208px !important;
  top: 188px;
  width: 477px;
  border-radius: 7px;
  padding: 12px;
  z-index: 2;
  overflow: auto;

  .infinite-scroll-item{
    cursor: pointer;
  }
}
