// import common setting
@import '../../../../assets/styles/_import';

.nav-side-menu-list {
  margin-bottom: $base-layout-padding;
  .nav-item {
    width: 100%;
    border-bottom: 1px solid #E1E0DF;
    position: relative;
    &.last-child {
      border-bottom: none;
    }
  }
  .nav-item + .nav-item {
    margin-left: 0;
  }
  .nav-link {
    border-radius: 0;
    color: #777;
    padding: .5em .5em .5em 2.2rem;
    cursor: pointer !important;
    .btn-to {
      padding:0.25rem 0.4rem;
    }
    .nav-link-label {
      .fa {
        margin-right: _rem(8px);
      }
    }
    &:hover {
      background: #FCF8E3;
    }
    &-active {
      color: $drjoy-symbol-color;
    }
    &.nav-mediator {
      .nav-mediator-icon {
        border: 1px solid #D7D7D7;
        @include border-radius(5px);
        color: #D7D7D7;
        position: absolute;
        left: .8rem;
        top: 50%;
        @include transform(translateY(-50%));
        width: 1.2rem;
        height: 1.2rem;
        font-size: .8rem;
      }
    }
    &.nav-more {
      padding-left: 1.1rem;
      .fa {
        margin-right: 0;
        color: #D7D7D7;
      }
    }
    &.nav-permission {
      padding-left: 1.2rem;
      .fa {
        margin-right: 0;
        color: #D7D7D7;
      }
    }
  }
  .nav-table {
    width: 100%;
    display: table;
    .nav-link-label {
      display: table-cell;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 0;
      &-to-text {
        @include border-radius(5px);
        background-color: $green;
        color: $white;
        font-size: _rem(12px);
        padding: 2px;
      }
    }
  }
  .badge-new-wrap {
    display: table-cell;
    width: 38px;
    position: relative;
    .badge-new {
      background-color: #D11D29;
      color: $white;
      position: absolute;
      font-weight: normal;
      top: 3px;
    }
  }
  .balloon {
    display: table-cell;
    width: 36px;
    position: relative;
    &-orange,
    &-green {
      text-align: center;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 20px;
      font-size: _rem(14px);
      vertical-align: middle;
      color: $white;
      background-color: $gray;
      &:after {
        content: " ";
        border-left: 6px solid $gray;
        border-bottom: 6px solid transparent;
        position: absolute;
        left: 50%;
        bottom: -6px;
      }
    }
    &-green {
      background-color: $green;
      &:after {
        border-left-color: $green;
      }
    }
    &-orange {
      background-color: $orange;
      &:after {
        border-left-color: $orange;
      }
    }
  }
  .badge-unread {
    background-color: $orange;
    position: absolute;
    font-weight: normal;
    top: 11px;
    right: 64px;
  }
  .fa {
    color: #555;
  }
}
