<div class="page-wrap">
  <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse navbar-global">
    <app-header></app-header>
  </nav>

  <nav class="side-menu">
    <app-side-menu></app-side-menu>
  </nav>

  <main class="content-wrap" data-effect="push">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-main">
          <div>
            <div class="row">
              <!--contents-->
              <!--contents PH0016-->

              <div class="col">
                <div class="page-head">
                  <app-page-head *ngIf="selectedOffice" [title]="isHospital? ('DOC_TITLE.PH0020' | translate)
                  : ('DOC_TITLE.PH0006' | translate)"></app-page-head>
                  <app-page-head *ngIf="!selectedOffice" [title]="userRole === const.userRole.HOSPITAL? ('DOC_TITLE.PH0006' | translate)
                  : ('DOC_TITLE.PH0020' | translate)"></app-page-head>
                </div>
                <div class="inventory-drug no-print">
                  <div class="recruit-drug">
                    <div class="control-bar clearfix mb-3">
                      <div class="control-bar-left form-inline float-left col-md-10 p-0">
                        <div class="clearfix form-input search-bar col-4 p-0 pr-sm-2 mb-2 mb-xs-2">
                          <l-select2 [ngModelOptions]="{standalone: true}" [data]="listOffice"
                                     [(ngModel)]="selectedOffice"
                                     (ngModelChange)="onOfficeChange($event)"
                                     [options]="options"
                          ></l-select2>
                        </div>
                        <div class="clearfix p-0 col-4 pr-sm-2 search-bar mb-2 mb-xs-2">
                          <!--<div class="search">-->
                            <!--<input ngui-auto-complete type="text"-->
                                   <!--[source]="listDrug" autocomplete="off"-->
                                   <!--[list-formatter]="autocompleListFormatter"-->
                                   <!--[value-formatter]="myValueFormatter"-->
                                   <!--select-on-blur="false"-->
                                   <!--select-value-of="text"-->
                                   <!--no-match-found-text="{{'PHARMACY.TRACING_REPORT.SELECT2_NO_RESULT'| translate}}"-->
                                   <!--loading-text="&nbsp;{{'CA0009.LOADING' | translate }}"-->
                                   <!--class="form-control w-100"-->
                                   <!--placeholder="{{'ME0035.INPUT_NAME_PRODUCT' | translate}}"-->
                                   <!--min-chars="1"-->
                                   <!--[(ngModel)]="formSearch.productName"-->
                                   <!--(valueChanged)="productNameOnChange()"-->
                                   <!--(keydown.enter)="productNameOnChange($event.target.value)"-->

                            <!--/>-->
                            <!---->

                            <!--<button type="submit" class="search-btn" (click)="productNameOnEnter()">-->
                              <!--<i class="fa fa-search" aria-hidden="true"></i>-->
                            <!--</button>-->
                          <!--</div>-->
                          <app-infinitive-select [source]="listDrug" tabindex="-1"
                                                 [(ngModel)]="drugSearch"
                                                 (ngModelChange)="productNameOnChange($event)"
                                                 [ngModelOptions]="{standalone: true}"
                                                 [forceInputWithoutReload]="formSearch.productName"
                                                 [infiniteScrollOptions]="infiniteScrollOptions"
                                                 (scrollDown)="scrollDown($event)"
                                                 (keywordChanged)="textChanged($event, 'productName')"
                                                 (keydown.enter)="productNameOnEnter()"
                                                 (clickSearch)="productNameOnEnter()"
                          ></app-infinitive-select>
                        </div>
                      </div>
                      <div class="control-bar-right float-right text-center no-print">
                        <div>
                          <button class="btn btn-secondary btn-sm px-3 py-2 font-weight-bold" data-trigger="hover" (click)="exportCsv()">
                            {{'PHARMACY.COMMON.DOWNLOAD' | translate}}
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix btn-control mb-3">
                    <div class="float-left d-sm-flex d-block mb-3 col-md-10 p-0 col-sm-12">
                      <button class="btn font-weight-bold" *ngFor="let btn of selectSearch; let i = index"
                              [ngClass]="{'btn-primary ': (formSearch.alphabetIndex === i), 'text-primary btn-secondary': (formSearch.alphabetIndex !== i), 'mx-2': (i % 2 === 1)}"
                               (click)="searchProduct(i)"
                      >{{btn.label}}
                      </button>
                    </div>
                    <div class="float-right btn-all mb-3 no-print">
                      <button class="btn btn-secondary" data-toggle="tooltip" data-trigger="hover"
                              data-placement="top" title="{{'PHARMACY.COMMON.PRINT' | translate}}" (click)="printPage()"><i class="fa fa-print"></i></button>
                    </div>
                  </div>
                </div>
                <div *ngIf="selectedOffice">
                  <div class="row p-2">
                    <table class="table table-striped table-bordered tabl-recruit table-tracing-report" infinite-scroll [infiniteScrollDistance]="1" [scrollWindow]="true"
                           (scrolled)="scrollPaging()">
                      <thead class="thead-inverse hidden-lg-down d-print-table-row">
                      <tr>
                        <th>{{'PHARMACY.DRUG.DRUG_NAME' | translate}}</th>
                        <th>{{'PHARMACY.DRUG.COMPANY_NAME' | translate}}</th>
                        <th>{{'PHARMACY.DRUG.DRUG_CODE' | translate}}</th>
                      <th *ngIf="isHospital">{{'PHARMACY.DRUG.DRUG_CATEGORY' | translate}}</th>
                      </tr>
                      </thead>
                      <tbody class="tbody-inverse">
                      <tr *ngFor="let record of allPage">
                        <th class="hidden-lg-up">{{'PHARMACY.DRUG.DRUG_NAME' | translate}}</th>
                        <td class="tbl-name">
                          <div class="text-truncate">
                            <span [ngbTooltip]="(record.drugName.length) ? record.drugName :''">{{record.drugName}}</span>
                          </div>
                        </td>
                        <th class="hidden-lg-up text-truncate">{{'PHARMACY.DRUG.COMPANY_NAME' | translate}}</th>
                        <td class="tbl-comp text-truncate">{{record.companyName}}</td>
                        <th class="hidden-lg-up">{{'PHARMACY.DRUG.DRUG_CODE' | translate}}</th>
                        <td>{{record.drugCode}}</td>
                      <th class="hidden-lg-up" *ngIf="isHospital">{{'PHARMACY.DRUG.DRUG_CATEGORY' | translate}}</th>
                        <td *ngIf="isHospital">{{getCategory(record['drugCategory'])}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="d-flex justify-content-center mt-4" *ngIf="!allPage ||allPage.length === 0">
                    {{"PHARMACY.COMMON.NO_RESULT" | translate}}
                  </div>
                </div>
                <div class="text-center mt-4" *ngIf="!selectedOffice">
                  <ng-container *ngIf="userRole === const.userRole.HOSPITAL">
                    {{'PHARMACY.DRUG.PLEASE_SELECT_DRUG_STORE' | translate}}
                  </ng-container>
                  <ng-container *ngIf="userRole === const.userRole.DRUG_STORE">
                    {{'PHARMACY.DRUG.PLEASE_SELECT_HOSPITAL' | translate}}
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="col-12 col-xl-3 col-sub">-->
        <!--<app-col-sub></app-col-sub>-->
        <!--</div>-->
      </div>
    </div>
  </main>

  <aside class="info-panel collapse" id="info-panel">
    <app-info-panel></app-info-panel>
  </aside>

  <aside class="settings-panel collapse" id="settings-panel">
    <app-settings-panel></app-settings-panel>
  </aside>
</div>
