<div class="page-wrap">
  <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse navbar-global">
    <app-header></app-header>
  </nav>

  <main class="visitor-content-wrap">
    <div class="container">
      <div class="row">
        <div class="col col-main">
          <div class="col-main-inner mx-auto">
            <div class="row">
              <div class="col">
                <p class="text-center fs18">{{ fileName }}のダウンロード</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
