<div class="page-wrap">
  <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse navbar-global">
    <app-header></app-header>
  </nav>

  <nav class="side-menu">
    <app-side-menu></app-side-menu>
  </nav>

  <main class="content-wrap" data-effect="push">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-main">
          <div class="col-main-inner">
            <div class="row">
              <!--contents-->
              <!--contents RE0019-->

              <div class="col">
                <div class="page-head">
                  <app-page-head [title]="'RE0019.TITLE' | translate"></app-page-head>
                </div>

                <form [formGroup]="changePassForm" (ngSubmit)="putPasswordSettings()">
                  <table class="table table-bordered table-password">
                    <tbody class="tbody-inverse">
                    <tr [ngClass]="{'has-danger text-danger': formErrors.currentPassword}">
                      <th scope="row" class="table-password-label">{{ 'COMMON_LABEL.CURRENT_PASSWORD' | translate }}</th>
                      <td class="table-password-content">
                        <span class="fs12" *ngIf="formErrors.currentPassword">{{ formErrors.currentPassword }}</span>
                        <input class="form-control col-xl-6" value="" type="password" name="currentPassword" id="currentPassword"
                               placeholder="{{'RE0019.CHANGE_PASSWORD.MEG_PASSWORD' | translate}}" formControlName="currentPassword">
                      </td>
                    </tr>
                    <tr [ngClass]="{'has-danger text-danger':formErrors.newPassword}">
                      <th scope="row" class="table-password-label">{{ 'COMMON_LABEL.LBL_NEW_PASSWORD' | translate }}</th>
                      <td class="table-password-content">
                        <span class="fs12" *ngIf="formErrors.newPassword">{{ formErrors.newPassword }}</span>
                        <input class="form-control col-xl-6" value="" type="password" name="newPassword" id="newPassword"
                               placeholder="{{'RE0019.CHANGE_PASSWORD.MEG_PASSWORD' | translate}}" formControlName="newPassword">
                      </td>
                    </tr>
                    <tr [ngClass]="{'has-danger text-danger': formErrors.newPasswordConfirm}">
                      <th scope="row" class="table-password-label">{{ 'COMMON_LABEL.LBL_CONFIRM_PASSWORD' | translate }}</th>
                      <td class="table-password-content">
                        <span class="fs12" *ngIf="formErrors.newPasswordConfirm">{{ formErrors.newPasswordConfirm }}</span>
                        <input class="form-control col-xl-6" value="" type="password" name="newPasswordConfirm" id="newPasswordConfirm"
                               placeholder="{{'RE0019.CHANGE_PASSWORD.MEG_PASSWORD' | translate}}"
                               formControlName="newPasswordConfirm">
                      </td>
                    </tr>
                    </tbody>
                  </table>
                  <div class="d-flex justify-content-center">
                    <button class="btn btn-primary" type="submit">{{ 'COMMON_BTN.CHANGE' | translate }}</button>
                  </div>
                </form>
              </div>
              <!-- //contents -->
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-3 col-sub">
          <app-col-sub></app-col-sub>
        </div>
      </div>
    </div>
  </main>

  <aside class="info-panel collapse" id="info-panel">
    <!--<app-info-panel></app-info-panel>-->
  </aside>

  <aside class="settings-panel collapse" id="settings-panel">
    <app-settings-panel></app-settings-panel>
  </aside>
</div>
