// import common setting
@import '../../../../assets/styles/_import';
.staff-admin {
  .table-user {
    border: 1px solid #D7D7D7;
    tr {
      &:hover {
        background: #fcf8e3;
      }
      th {
        .table-title {
          position: relative;
          .table-title-text {
            padding-right: 1rem;
          }
          .soft-arrow {
            position: absolute;
            right: 0;
            top: 0;
            width: 1.8rem;
            .arrow {
              cursor: pointer;
              color: #A6A6A6;
              &.up {
                letter-spacing: -4px;
              }
              &.down {
                letter-spacing: -2px;
              }
              &.active {
                color: #333;
              }
            }
          }
        }
      }
      td {
        .table-user-item {
          .user-item {
            padding-right: 0.25rem;
            width: calc(100% - 2rem);
          }
        }
      }
    }
  }
}
button:focus {
  outline: none;
}
.table-col-1 {
  width: 21%;
  min-width: 13rem;
}
.table-col-2 {
  width: 17%;
}
.table-col-3 {
  width: 25%;
}
.table-title-width {
  width: 18%;
}


// @media (max-width: 1199px) { ... }
@include media-breakpoint-down(lg) {
  .table-staff-admin {
    white-space: nowrap;
  }
}

// @media (max-width: 991px) { ... }
@include media-breakpoint-down(md) {
  .staff-admin {
    .table-user {
      border: none;
      tr {
        &:before,
        &:after {
          content: "";
          display: block;
          height: 3rem;
          background: $white;
        }
        th,
        td {
          display: block;
          width: 100%;
          &.table-title-width {
            width: 100%;
          }
        }
        td {
          background: #fbfbfb;
        }
        th {
          background: #EEE;
        }
      }
    }
  }
}


/************************* -------modal-popup-------- **********************/

.modal-profile {
  .modal-dialog {
    max-width: 1000px;
  }
  .profile-avatar {
    position: relative;
    .profile-avatar-staff {
      .profile-userinfo-txt {
        p {
          line-height: 24px;
        }
      }
    }
  }
  .profile-table {
    tr {
      td,
      th {
        border: none;
      }
      th {
        width: 1rem;
        white-space: nowrap;
      }
      td {
        width: 45%;
        span {
          display: block;
        }
      }
    }
  }
}
