@import '../../../../assets/styles/_import';
#me0035 {
  .header {
    overflow: hidden;
  }
	.middle {
		th {
			width: 12rem;
		}
		.form-control-tel {
			width: 4rem;
		}
	}
}
.table-content-add td{
  vertical-align: bottom;
}
