// import common setting
@import './../../../assets/styles/import';

.infinite-scroll {
  position: relative;
  &-content {
    overflow-y: auto;
    height: 100%;
  }
  &-loader {
    position: absolute;
    width: 100%;
    background: rgba($black,.2);
    z-index: $zindex-fixed + 1;
    bottom: 0;
    left: 0;
    &-icon {
      color: #777;
    }
    &-text {

    }
  }
}
