<div class="page-wrap">
  <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse navbar-global">
    <app-header></app-header>
  </nav>

  <nav class="side-menu">
    <app-side-menu></app-side-menu>
  </nav>

  <main class="content-wrap" data-effect="push">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-main">
          <div class="col-main-inner">
            <div class="row">
              <!--contents-->
              <!--contents GR0002-->
              <div class="col">
                <div class="page-head">
                  <app-page-head [title]="'MENU.ITEM.GR0002' | translate"></app-page-head>
                </div>

                <div class="text-right mb-3" *ngIf="userSession.managementAuthority === 'MP_1' || userSession.managementAuthority === 'MP_2'">
                  <button type="button" class="btn btn-lg btn-success" (click)="gotoCreateDeptGroup()">{{'COMMON_LABEL.BTN_GO_TO_DEPT_GROUP_CREATION_SCREEN' | translate}}</button>
                  <span class="align-middle pl-2 text-warning fs22" (click)="gotoHelp()"><i class="fa fa-question-circle" aria-hidden="true"></i></span>
                </div>
                <form (ngSubmit)="createInsideGroup()" [formGroup]="createGroupForm" (keydown.enter)="$event.preventDefault()">
                  <div class="row mt-4 avatar-wrapper">
                    <div class="col-lg-2 avatar-select">
                      <app-group-icon-set [groupIconSetOptions]="{admin: 1, groupId: null, iconSize:94}" (iconImageChanged)="groupIconSetChanged($event)"></app-group-icon-set>
                    </div>
                    <div class="col-lg-9">
                      <div class="form-group" [ngClass]="{'has-danger': messError.name }">
                        <label>{{'COMMON_LABEL.LBL_GROUP_NAME' | translate}}<span class="text-danger">※</span></label>
                        <span class="d-block col-form-label text-danger fs12" *ngIf="messError.name ">{{messError.name | translate}}</span>
                        <input type="text" class="form-control" placeholder="{{'COMMON_LABEL.INPUT_GROUP_NAME_PLACEHOLDER' | translate}}" formControlName="name">
                      </div>
                    </div>
                  </div>
                  <div class="form-group mt-3">
                    <label>{{'COMMON_LABEL.SEARCH_BY_DEPARTMENT' | translate}}</label>
                    // use select 2 for auto resize
                    <!--<l-select2 class="form-control border-0 p-0" formControlName="deptId" (ngModelChange)="grChangeDepartment($event.id)"-->
                      <!--[options]="{ minimumResultsForSearch: -1, dropdownCssClass: 'look-like-select' }">-->
                        <!--<option value="">{{'COMMON_LABEL.ALL' | translate}}</option>-->
                        <!--<option *ngFor="let dept of listDepartment" value="{{dept.id}}" data-toggle="tooltip" data-placement="top" title="{{dept.displayName}}">{{dept.displayName}}</option>-->
                    <!--</l-select2>-->
                    <select class="form-control" formControlName="deptId" (change)="grChangeDepartment($event.target.value)" onmousedown="this.focus()">
                      <option value="">{{'COMMON_LABEL.ALL' | translate}}</option>
                      <option *ngFor="let dept of listDepartment" value="{{dept.id}}" data-toggle="tooltip" data-placement="top" title="{{dept.text}}"
                              id="department-{{dept.id}}">{{ (dept.text.length > 60) ? (dept.text.substr(0, 60) + '...') : dept.text}}</option>
                    </select>
                  </div>
                  <div class="select-content d-flex mb-4">
                    <div class="select-col1">
                      <p class="m-0">&nbsp;</p>
                      <div class="select-container select-dr-pr">
                        <div class="select-search p-2">
                          <div class="search">
                            <input class="search-input" type="text" placeholder="{{'MEMBER_SELECT.MEMBER_SEARCH' | translate}}" (keyup)="0" #keyWord>
                            <button type="button" class="search-btn">
                              <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                          </div>
                        </div><!-- //select-search-->
                        <div class="select-container-drag pt-3 pb-1">
                          <div class="mb-1 px-2">
                            <label class="custom-control custom-checkbox mb-0">
                              <input type="checkbox" class="custom-control-input" [checked]="checkAllUser" (change)="changeCheckAll(checkAllUser)">
                              <span class="custom-control-indicator"></span>
                              <span class="custom-control-description">{{'MEMBER_SELECT.MEMBER_ALL_SELECT' | translate}}</span>
                            </label>
                          </div>
                          <ul class="select-user m-0 p-0">
                            <li class="d-flex align-items-center p-2" *ngFor="let user of listUser | searchFilter: {fullName: keyWord.value, fullNameKana: keyWord.value}"
                                (click)="selectedUser(user)" [ngClass]="{'selected': user.isSelected}">
                              <div class="select-user-img">
                                <app-face-icon [iconSize]="40" [userInfo]="user"></app-face-icon>
                              </div>
                              <div class="select-user-name fs18 pl-2">{{user.fullName}}</div>
                            </li>
                          </ul>
                        </div><!-- //select-container-drag -->
                      </div><!-- //select-dr-pr -->
                    </div>
                    <div class="select-col2 d-flex">
                      <div class="button-switcher">
                        <div class="button-switcher-inner align-middle text-center">
                          <button type="button" class="btn btn-sm btn-outline-secondary my-2 mx-1" (click)="addMember()"><i class="fa fa-arrow-right fs24" aria-hidden="true"></i></button>
                          <button type="button" class="btn btn-sm btn-outline-secondary my-2 mx-1" (click)="removeMember()"><i class="fa fa-arrow-left fs24" aria-hidden="true"></i></button>
                        </div>
                      </div>
                    </div>
                    <div class="select-col3">
                      <p class="m-0">{{'COMMON_LABEL.LBL_SELECTED_MEMBER' | translate}}</p>
                      <span class="d-block col-form-label text-danger fs12" *ngIf="messError.member">{{messError.member | translate}}</span>
                      <div class="select-container select-member">
                        <div class="select-search p-2">
                          <div class="search">
                            <input class="search-input" type="text" placeholder="{{'MEMBER_SELECT.MEMBER_SEARCH' | translate}}" #searchMember (keyup)="0">
                            <button type="button" class="search-btn">
                              <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                          </div>
                        </div><!-- //select-search-->
                        <div class="select-container-drag pb-1">
                          <div class="d-flex select-box mx-1 mt-1 mb-1">
                            <div class="select-user-txt pt-2 p-1">{{'MEMBER_SELECT.ADMIN' | translate}}</div>
                            <div class="select-user-txt pt-2 p-1">{{'COMMON_LABEL.FULL_NAME' | translate}}</div>
                          </div>
                          <ul class="select-user m-0 p-0">
                            <li class="d-flex align-items-center pl-4 py-2" *ngFor="let member of listMember | searchFilter: {fullName: searchMember.value, fullNameKana: searchMember.value} : false, let i = index"
                                (click)="selectedMember(member)" [ngClass]="{'selected': member.isSelected && member.officeUserId !== userSession.officeUserId, 'li-no-hover': member.officeUserId === userSession.officeUserId}">
                              <div class="checkbox mt-1 d-flex">
                                <label class="custom-control custom-checkbox mb-0" [ngClass]="{'li-no-hover': member.officeUserId === userSession.officeUserId}">
                                  <input type="checkbox" class="custom-control-input" [disabled]="member.officeUserId === userSession.officeUserId" [checked]="member.authority === 'ADMIN'" (change)="selectedHospitalAdmin($event, member)">
                                  <span class="custom-control-indicator"></span>
                                </label>
                              </div>
                              <div class="select-user-img">
                                <app-face-icon [iconSize]="40" [userInfo]="member"></app-face-icon>
                              </div>
                              <div class="select-user-name fs18 pl-2">{{member.fullName}}</div>
                            </li>
                          </ul>
                        </div><!-- //select-container-drag -->
                      </div><!-- //select-dr-pr -->
                    </div>
                  </div>
                  <div class="d-flex justify-content-center mb-4">
                    <button class="btn btn-primary" type="submit">{{'COMMON_BTN.SAVE' | translate}}</button>
                  </div>
                </form>
              </div>
              <!-- //contents -->
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-3 col-sub">
          <app-col-sub></app-col-sub>
        </div>
      </div>
    </div>
  </main>
  <aside class="info-panel collapse" id="info-panel">
    <app-info-panel></app-info-panel>
  </aside>

  <aside class="settings-panel collapse" id="settings-panel">
    <app-settings-panel></app-settings-panel>
  </aside>
</div>
