<div class="login-page">
	<h4 class="text-center mb-3 font-weight-bold text-white">勤務されている医療機関名を入力してください</h4>
	<div class="clearfix mb-3">
		<input class="form-control" type="" name="" value="日本橋総合病院（東京都中央区日本橋人形町）">
	</div>
	<div class="area-info-regit p-3 mb-2 rounded area-cmn clearfix">
		<h5 class="text-center font-weight-bold mb-3">勤務されている地域で登録済みの企業/担当者数</h5>
		<p class="mb-1">製薬企業：114社 / 505名</p>
		<p class="mb-1">医薬品卸：21社 / 102名</p>
		<p class="mb-1">医療機器：19社 / 74名</p>
		<p class="mb-1">医療機器卸：15社 / 56名</p>
		<p class="mb-1">医療資材：17社 / 50名</p>
		<p class="mb-1">食品：10社 / 18名</p>
		<p class="mb-1">治験施設支援機関（SMO）：5名 / 3社</p>
		<p class="mb-1">開発業務受託機関（CRO）：3名 / 2社</p>
		<p>その他：2名 / 2社</p>
	</div>
	<div class="area-info-regit p-3 mb-3 rounded area-cmn clearfix">
		<table class="tbl-regit mb-2 fs14">
			<tbody>
				<tr>
					<th>招待コード</th>
					<td><input class="form-control" type="" name=""></td>
				</tr>
				<tr>
					<th>お名前</th>
					<td><input class="form-control" type="" name=""></td>
				</tr>
				<tr>
					<th>ログインID（メールアドレス）</th>
					<td><input class="form-control" type="" name=""></td>
				</tr>
			</tbody>
		</table>
		<div class="text-center">
			<label class="custom-control custom-checkbox">
			  <input type="checkbox" class="custom-control-input">
			  <span class="custom-control-indicator"></span>
			  <span class="custom-control-description"><span class="text-info">利用規約</span>を確認の上、同意する</span>
			</label>
			<label class="custom-control custom-checkbox">
			  <input type="checkbox" class="custom-control-input">
			  <span class="custom-control-indicator"></span>
			  <span class="custom-control-description">私は医師、または薬剤師である</span>
			</label>
		</div>
	</div>
	<p class="text-center mb-3"><button class="btn btn-success">登録</button></p>
	<p class="mb-0 fs12 text-center text-white">＊メールアドレスに仮パスワードが送られるので、2回目以降は仮パスワードでログインしてください</p>
</div>