@import '../../../../assets/styles/_import';
.hows-support {
  .support-group {
    border-bottom: dashed 1px #969696;
    &:last-child {
      border: none;
    }
  }
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #464a4c;
  background-color: #fff;
  border-color: #555 #555 #fff;
}
.nav-tabs {
  border-bottom: 1px solid #555;
}
.nav-tabs {
  .nav-link {
    border-bottom: 1px solid #555555;
  }
}

.infinite-scroll {
  position: relative;
  &-content {
    overflow-y: auto;
    height: 100%;
  }
  &-loader {
    position: absolute;
    width: 100%;
    background: rgba($black,.2);
    z-index: $zindex-fixed + 1;
    bottom: 0;
    left: 0;
    &-icon {
      color: #777;
    }
    &-text {

    }
  }
}
.infinite-scroll-content {
  overflow: visible;
}

// Small devices (landscape phones, 画面サイズ767px以下)
// @media (max-width: 767px) { ... }
@include media-breakpoint-down(sm) {
  .d-flex-sm {
    display: flex;
    flex-wrap: wrap;
  }
}
