<div class="page-wrap">
  <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse navbar-global">
    <app-header></app-header>
  </nav>

  <nav class="side-menu">
    <app-side-menu></app-side-menu>
  </nav>

  <main class="content-wrap" data-effect="push">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-main">
          <div class="col-main-inner">
            <div class="row">
              <!--contents-->
              <!--contents ME0049-->

              <div class="col">
                <div class="page-head">
                  <app-page-head [title]="'ME0049.PAGE_TITLE' | translate"></app-page-head>
                </div>
                <div class="inventory-drug">
                	<div class="recruit-drug">
	                	<div class="control-bar clearfix mb-3">
	                    <div class="control-bar-left form-inline float-left">
	                    	<div class="clearfix form-input pr-0 pr-sm-2 mb-2 mb-xs-2">
	                        <input class="form-control w-100" type="text" name="">
	                      </div>
	                      <div class="clearfix pr-0 pr-sm-2 search-bar mb-2 mb-xs-2">
	                        <div class="search">
	                          <form>
	                            <input class="search-input" type="text" placeholder="製品名を入力してください">
	                            <button type="submit" class="search-btn">
	                              <i class="fa fa-search" aria-hidden="true"></i>
	                            </button>
	                          </form>
	                        </div>
	                      </div>
	                    </div>
	                    <div class="control-bar-right float-right text-center">
	                      <div>
	                        <button class="btn btn-secondary btn-sm px-3 py-2">ダウンロード</button>
	                      </div>
	                    </div>
	                  </div>
	                </div>
	                <div class="clearfix btn-control mb-3">
                    <div class="float-left btn-lst d-sm-flex d-block mb-3">
                      <button class="btn btn-secondary text-primary">あ</button>
                      <button class="btn btn-secondary text-primary">か</button>
                      <button class="btn btn-secondary text-primary">さ</button>
                      <button class="btn btn-secondary text-primary">た</button>
                      <button class="btn btn-secondary text-primary">な</button>
                      <button class="btn btn-secondary text-primary">は</button>
                      <button class="btn btn-secondary text-primary">ま</button>
                      <button class="btn btn-secondary text-primary">や</button>
                      <button class="btn btn-secondary text-primary">ら</button>
                      <button class="btn btn-secondary text-primary">わ</button>
                      <button class="btn btn-secondary text-primary">他</button>
                    </div>
                    <div class="float-right btn-all mb-3"><button class="btn btn-secondary"><i class="fa fa-print"></i></button></div>
                  </div>
                </div>
                <table class="table table-striped table-bordered tabl-recruit">
                	<thead class="thead-inverse hidden-md-down">
                		<tr>
                			<th>製品名</th>
                			<th>企業名</th>
                			<th>YJコー</th>
                		</tr>
                	</thead>
                	<tbody class="tbody-inverse">
                		<tr>
                			<th class="hidden-lg-up">製品名</th>
                			<td>製品名製品名製品名製品名 200mg</td>
                			<th class="hidden-lg-up">企業名</th>
                			<td>ABC企業名企</td>
                			<th class="hidden-lg-up">YJコー</th>
                			<td>6142001F2038</td>
                		</tr>
                		<tr>
                			<th class="hidden-lg-up">製品名</th>
                			<td>製品名製品名製品名製品名 200mg</td>
                			<th class="hidden-lg-up">企業名</th>
                			<td>ABC企業名企</td>
                			<th class="hidden-lg-up">YJコー</th>
                			<td>6142001F2038</td>
                		</tr>
                		<tr>
                			<th class="hidden-lg-up">製品名</th>
                			<td>製品名製品名製品名製品名 200mg</td>
                			<th class="hidden-lg-up">企業名</th>
                			<td>ABC企業名企</td>
                			<th class="hidden-lg-up">YJコー</th>
                			<td>6142001F2038</td>
                		</tr>
                		<tr>
                			<th class="hidden-lg-up">製品名</th>
                			<td>製品名製品名製品名製品名 200mg</td>
                			<th class="hidden-lg-up">企業名</th>
                			<td>ABC企業名企</td>
                			<th class="hidden-lg-up">YJコー</th>
                			<td>6142001F2038</td>
                		</tr>
                	</tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-3 col-sub">
          <app-col-sub></app-col-sub>
        </div>
      </div>
    </div>
  </main>

  <aside class="info-panel collapse" id="info-panel">
    <app-info-panel></app-info-panel>
  </aside>

  <aside class="settings-panel collapse" id="settings-panel">
    <app-settings-panel></app-settings-panel>
  </aside>
</div>
