// import common setting
@import '../../../../assets/styles/_import';

.datetime{
  color: #777;
}

.table-data {
  table-layout: fixed;
  > thead > tr > th{
    width: 25%;
  }
  > tbody > tr {
    &.unread {
      > td {
        background-color: #ffffc8;
      }
      &:hover {
        > td {
          background-color: #fcf8e3;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .table-data {
    > tbody{
       > tr{
        &:first-child{
          > td{
            &:nth-child(1){
              border-top: none;
            }
          }
        }
        > td{
          &:nth-child(1){
            border-top: 1px solid #D7D7D7;
            padding-bottom: 0.2rem;
          }
          &:nth-child(2){
            padding-top: 0;
            padding-bottom: 0;
          }
          &:nth-child(3){
            padding-top: 0.2rem;
          }
          border: none;
          display: block;
        }
      }
    }
  }
}

.text-ellipsis,
.data-ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.preline-text{
  white-space: pre-line;
}

.info-text{
   > dl {
    > dt {
      font-weight: normal;
    }
  }
}

.office-select-box,
.file-box {
  background-color: #EEE;
  border-radius: 4px;
  padding: 1rem;
}

.text-help {
  text-decoration: none;
}

.text-file {
  min-width: 0;
}

.section-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.table-notice-label {
  white-space: nowrap;
  width: 1rem;
}

.attachment-img-list {
  li + li {
    margin-top: 1rem;
  }
}

//@media (max-width: 767px)
@include media-breakpoint-down(sm) {
  .table-notice {
    border-bottom-style: none;
  }
  .table-notice-label {
    border: none;
  }
  .table-notice-label,
  .table-notice-content {
    display: block;
    width: 100%;
  }
}
