
<div class="page-wrap">
  <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse navbar-global">
    <app-header></app-header>
  </nav>

  <nav class="side-menu">
    <app-side-menu></app-side-menu>
  </nav>

  <main class="content-wrap">
    <div class="container-fluid">
      <div class="row">
        <div class="col col-main">
          <div class="col-main-inner">
            <div class="row">
              <!--contents-->
              <!--contents SH0007-->

              <div class="col">
                <div class="page-head">
                  <app-page-head [title]="'SH0009.PAGE_TITLE' | translate"></app-page-head>
                </div>
                <div class="setting-item mb-5">
                	<h2 class="mb-4">内勤</h2>
                	<p>内勤のシフト項目を登録します。「＋追加」ボタンから追加してください。</p>
                	<ul class="lst-item pl-0">
                		<li class="clearfix">
                			<div class="setting-color pt-1">
                				<div class="color-wrap">
                					<span class="color-box rounded bg-pink-light"></span>
                					<div class="modal-color rounded">
                						<ul class="lst-color pl-0 clearfix">
                							<li class="color-box rounded bg-pink-light"></li>
                							<li class="color-box rounded bg-orange"></li>
                							<li class="color-box rounded bg-green-light"></li>
                							<li class="color-box rounded bg-purple"></li>
                							<li class="color-box rounded bg-blue-light"></li>
                							<li class="color-box rounded bg-pink"></li>
                							<li class="color-box rounded bg-green"></li>
                							<li class="color-box rounded bg-blue"></li>
                							<li class="color-box rounded bg-brown"></li>
                							<li class="color-box rounded bg-yellow"></li>
                							<li class="color-box rounded bg-grey"></li>
                							<li class="color-box rounded bg-white"></li>
                						</ul>
                					</div>
                				</div>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">略称<span class="text-danger">※</span></div>
                			<div class="short-name">
                				<input class="form-control" name="" type="text" value="病棟" placeholder="">
                				<p class="count-input mb-0">0/2</p>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">名称<span class="text-danger">※</span></div>
                			<div class="setting-name">
                				<input class="form-control" name="" type="text" value="病棟診療" placeholder="">
                				<p class="count-input mb-0">0/30</p>
                			</div>
                			<div class="close-setting text-right">
												<span class="btn-close"><i class="fa fa-close fs35"></i></span>
											</div>
                		</li>
                		<li class="clearfix">
                			<div class="setting-color pt-1">
                				<div class="color-wrap">
                					<span class="color-box rounded bg-orange"></span>
                				</div>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">略称<span class="text-danger">※</span></div>
                			<div class="short-name">
                				<input class="form-control" name="" type="text" value="病棟" placeholder="">
                				<p class="count-input mb-0">0/2</p>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">名称<span class="text-danger">※</span></div>
                			<div class="setting-name">
                				<input class="form-control" name="" type="text" value="病棟診療" placeholder="">
                				<p class="count-input mb-0">0/30</p>
                			</div>
                			<div class="close-setting text-right">
												<span class="btn-close"><i class="fa fa-close fs35"></i></span>
											</div>
                		</li>
                		<li class="clearfix">
                			<div class="setting-color pt-1">
                				<div class="color-wrap">
                					<span class="color-box rounded bg-green"></span>
                				</div>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">略称<span class="text-danger">※</span></div>
                			<div class="short-name">
                				<input class="form-control" name="" type="text" value="病棟" placeholder="">
                				<p class="count-input mb-0">0/2</p>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">名称<span class="text-danger">※</span></div>
                			<div class="setting-name">
                				<input class="form-control" name="" type="text" value="病棟診療" placeholder="">
                				<p class="count-input mb-0">0/30</p>
                			</div>
                			<div class="close-setting text-right">
												<span class="btn-close"><i class="fa fa-close fs35"></i></span>
											</div>
                		</li>
                		<li class="clearfix">
                			<div class="setting-color pt-1">
                				<div class="color-wrap">
                					<span class="color-box rounded bg-purple"></span>
                				</div>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">略称<span class="text-danger">※</span></div>
                			<div class="short-name">
                				<input class="form-control" name="" type="text" value="病棟" placeholder="">
                				<p class="count-input mb-0">0/2</p>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">名称<span class="text-danger">※</span></div>
                			<div class="setting-name">
                				<input class="form-control" name="" type="text" value="病棟診療" placeholder="">
                				<p class="count-input mb-0">0/30</p>
                			</div>
                			<div class="close-setting text-right">
												<span class="btn-close"><i class="fa fa-close fs35"></i></span>
											</div>
                		</li>
                		<li class="clearfix">
                			<div class="setting-color pt-1">
                				<div class="color-wrap">
                					<span class="color-box rounded bg-yellow"></span>
                				</div>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">略称<span class="text-danger">※</span></div>
                			<div class="short-name">
                				<input class="form-control" name="" type="text" value="病棟" placeholder="">
                				<p class="count-input mb-0">0/2</p>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">名称<span class="text-danger">※</span></div>
                			<div class="setting-name">
                				<input class="form-control" name="" type="text" value="病棟診療" placeholder="">
                				<p class="count-input mb-0">0/30</p>
                			</div>
                			<div class="close-setting text-right">
												<span class="btn-close"><i class="fa fa-close fs35"></i></span>
											</div>
                		</li>
                		<li class="clearfix">
                			<div class="setting-color pt-1">
                				<div class="color-wrap">
                					<span class="color-box rounded bg-pink"></span>
                				</div>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">略称<span class="text-danger">※</span></div>
                			<div class="short-name">
                				<input class="form-control" name="" type="text" value="病棟" placeholder="">
                				<p class="count-input mb-0">0/2</p>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">名称<span class="text-danger">※</span></div>
                			<div class="setting-name">
                				<input class="form-control" name="" type="text" value="病棟診療" placeholder="">
                				<p class="count-input mb-0">0/30</p>
                			</div>
                			<div class="close-setting text-right">
												<span class="btn-close"><i class="fa fa-close fs35"></i></span>
											</div>
                		</li>
                	</ul>
	                <div class="mb-5"><a class="add-link" href=""><i class="fa fa-plus-square"></i>追加</a></div>
	                <h2 class="mb-4">外勤</h2>
                	<p>外勤先を登録します。「＋追加」ボタンから追加してください。</p>
                	<ul class="lst-item pl-0">
                		<li class="clearfix">
                			<div class="setting-color pt-1">
                				<div class="color-wrap">
                					<span class="color-box rounded bg-grey"></span>
                				</div>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">略称<span class="text-danger">※</span></div>
                			<div class="short-name">
                				<input class="form-control" name="" type="text" value="" placeholder="2文字以内">
                				<p class="count-input mb-0">0/2</p>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">名称<span class="text-danger">※</span></div>
                			<div class="setting-name">
                				<input class="form-control" name="" type="text" value="" placeholder="30文字以内">
                				<p class="count-input mb-0">0/30</p>
                			</div>
                			<div class="close-setting text-right">
												<span class="btn-close"><i class="fa fa-close fs35"></i></span>
											</div>
                		</li>
                		<li class="clearfix">
                			<div class="setting-color pt-1">
                				<div class="color-wrap">
                					<span class="color-box rounded bg-grey"></span>
                				</div>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">略称<span class="text-danger">※</span></div>
                			<div class="short-name">
                				<input class="form-control" name="" type="text" value="" placeholder="2文字以内">
                				<p class="count-input mb-0">0/2</p>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">名称<span class="text-danger">※</span></div>
                			<div class="setting-name">
                				<input class="form-control" name="" type="text" value="" placeholder="30文字以内">
                				<p class="count-input mb-0">0/30</p>
                			</div>
                			<div class="close-setting text-right">
												<span class="btn-close"><i class="fa fa-close fs35"></i></span>
											</div>
                		</li>
                		<li class="clearfix">
                			<div class="setting-color pt-1">
                				<div class="color-wrap">
                					<span class="color-box rounded bg-grey"></span>
                				</div>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">略称<span class="text-danger">※</span></div>
                			<div class="short-name">
                				<input class="form-control" name="" type="text" value="" placeholder="2文字以内">
                				<p class="count-input mb-0">0/2</p>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">名称<span class="text-danger">※</span></div>
                			<div class="setting-name">
                				<input class="form-control" name="" type="text" value="" placeholder="30文字以内">
                				<p class="count-input mb-0">0/30</p>
                			</div>
                			<div class="close-setting text-right">
												<span class="btn-close"><i class="fa fa-close fs35"></i></span>
											</div>
                		</li>
                	</ul>
                	<div class="mb-5"><a class="add-link" href=""><i class="fa fa-plus-square"></i>追加</a></div>
                	<h2 class="mb-4">休み</h2>
                	<p>公休、有給、振替休暇等の休みを登録します。「＋追加」ボタンから追加してください。</p>
                	<ul class="lst-item pl-0">
                		<li class="clearfix">
                			<div class="setting-color pt-1">
                				<div class="color-wrap">
                					<span class="color-box rounded bg-white"></span>
                					
                				</div>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">略称<span class="text-danger">※</span></div>
                			<div class="short-name">
                				<input class="form-control" name="" type="text" value="公休" placeholder="">
                				<p class="count-input mb-0">0/2</p>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">名称<span class="text-danger">※</span></div>
                			<div class="setting-name">
                				<input class="form-control" name="" type="text" value="公休" placeholder="">
                				<p class="count-input mb-0">0/30</p>
                			</div>
                			<div class="close-setting text-right">
												<span class="btn-close"><i class="fa fa-close fs35"></i></span>
											</div>
                		</li>
                		<li class="clearfix">
                			<div class="setting-color pt-1">
                				<div class="color-wrap">
                					<span class="color-box rounded bg-white"></span>
                				</div>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">略称<span class="text-danger">※</span></div>
                			<div class="short-name">
                				<input class="form-control" name="" type="text" value="有休" placeholder="">
                				<p class="count-input mb-0">0/2</p>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">名称<span class="text-danger">※</span></div>
                			<div class="setting-name">
                				<input class="form-control" name="" type="text" value="病棟診療" placeholder="">
                				<p class="count-input mb-0">0/30</p>
                			</div>
                			<div class="close-setting text-right">
												<span class="btn-close"><i class="fa fa-close fs35"></i></span>
											</div>
                		</li>
                		<li class="clearfix">
                			<div class="setting-color pt-1">
                				<div class="color-wrap">
                					<span class="color-box rounded bg-white"></span>
                				</div>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">略称<span class="text-danger">※</span></div>
                			<div class="short-name">
                				<input class="form-control" name="" type="text" value="夏休" placeholder="">
                				<p class="count-input mb-0">0/2</p>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">名称<span class="text-danger">※</span></div>
                			<div class="setting-name">
                				<input class="form-control" name="" type="text" value="夏季休暇" placeholder="">
                				<p class="count-input mb-0">0/30</p>
                			</div>
                			<div class="close-setting text-right">
												<span class="btn-close"><i class="fa fa-close fs35"></i></span>
											</div>
                		</li>
                		<li class="clearfix">
                			<div class="setting-color pt-1">
                				<div class="color-wrap">
                					<span class="color-box rounded bg-white"></span>
                				</div>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">略称<span class="text-danger">※</span></div>
                			<div class="short-name">
                				<input class="form-control" name="" type="text" value="正月" placeholder="">
                				<p class="count-input mb-0">0/2</p>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">名称<span class="text-danger">※</span></div>
                			<div class="setting-name">
                				<input class="form-control" name="" type="text" value="年末年始休暇" placeholder="">
                				<p class="count-input mb-0">0/30</p>
                			</div>
                			<div class="close-setting text-right">
												<span class="btn-close"><i class="fa fa-close fs35"></i></span>
											</div>
                		</li>
                		<li class="clearfix">
                			<div class="setting-color pt-1">
                				<div class="color-wrap">
                					<span class="color-box rounded bg-white"></span>
                				</div>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">略称<span class="text-danger">※</span></div>
                			<div class="short-name">
                				<input class="form-control" name="" type="text" value="慶弔" placeholder="">
                				<p class="count-input mb-0">0/2</p>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">名称<span class="text-danger">※</span></div>
                			<div class="setting-name">
                				<input class="form-control" name="" type="text" value="慶弔休暇" placeholder="">
                				<p class="count-input mb-0">0/30</p>
                			</div>
                			<div class="close-setting text-right">
												<span class="btn-close"><i class="fa fa-close fs35"></i></span>
											</div>
                		</li>
                		<li class="clearfix">
                			<div class="setting-color pt-1">
                				<div class="color-wrap">
                					<span class="color-box rounded bg-white"></span>
                				</div>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">略称<span class="text-danger">※</span></div>
                			<div class="short-name">
                				<input class="form-control" name="" type="text" value="" placeholder="2文字以内">
                				<p class="count-input mb-0">0/2</p>
                			</div>
                			<div class="setting-ttl pl-2 py-1 text-left text-lg-right">名称<span class="text-danger">※</span></div>
                			<div class="setting-name">
                				<input class="form-control" name="" type="text" value="" placeholder="30文字以内">
                				<p class="count-input mb-0">0/30</p>
                			</div>
                			<div class="close-setting text-right">
												<span class="btn-close"><i class="fa fa-close fs35"></i></span>
											</div>
                		</li>
                	</ul>
                	<div class="mb-5"><a class="add-link" href=""><i class="fa fa-plus-square"></i>追加</a></div>
	                <div class="text-center">
	                	<button class="btn btn-primary">保存</button>
	                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="col-12 col-lg-3 col-sub">-->
        <!--<app-col-sub></app-col-sub>-->
        <!--</div>-->
      </div>
    </div>
  </main>

  <aside class="info-panel collapse" id="info-panel">
    <app-info-panel></app-info-panel>
  </aside>

  <aside class="settings-panel collapse" id="settings-panel">
    <app-settings-panel></app-settings-panel>
  </aside>
</div>


