// base font size
$base-font-size: 16px !default;

// symbol color
$sc: #F18D00 !default; //あとで削除
$drjoy-symbol-color: #F18D00 !default;
$prjoy-symbol-color: #3FA9F5 !default;

// base layout padding
$base-layout-padding: 20px;

// image dir
$img-dir: './assets/img/';
//background: url('#{$imgDir}bnr.png');

$navbar-height: 50px;

$side-col-width: 292px;
