<div *ngIf="meeting" [ngClass]="{'meeting-new': (!meeting.drSeen && meeting.status !== 'DONE'), 'meeting-cater': (meeting.doctor.userId !== userSession.userId)}" class="meeting-detail-user mb-3">
  <!-- send request to pr -->
  <div class="meeting-detail-stt p-2 fs12">
    <div class="row">
      <div class="col-md-5 col-sm-5 stt-left">
        <strong *ngIf="!meeting.drSeen && meeting.status !== 'DONE'" class="stt-new text-warning pr-3">NEW</strong>
        <div class="stt-date-time d-inline-block" [ngClass]="{'meeting-user-stt-cancel': meeting.status === 'CANCELED'}">
          <span class="stt-date">{{meeting.dateStart}}</span>
          <span class="stt-time pr-2">　{{meeting.time}}</span>
          <span class="stt-more text-danger pl-1" *ngIf="meeting.delayTime > 0 && meeting.status === 'FIXED'"><i class="fa fa-exclamation-circle fs13"></i>{{meeting.delayTime}}分遅れます</span>
          <span class="stt-more" *ngIf="meeting.numberTimeOther > 0">他{{meeting.numberTimeOther}}件</span>
        </div>
      </div>
      <div class="col-md-7 col-sm-7 stt-right text-right" [ngClass]="{'meeting-user-stt-cancel': meeting.status === 'CANCELED'}">
        <div class="stt-date-time d-inline-block">
          <span *ngIf="checkMediatorActionRequest(meeting)">{{'MSG.ME.MEETING_REQUEST.MEDIATOR' | translate}}／</span>
          <span *ngIf="meeting.userRequest">{{'MSG.ME.MEETING_REQUEST.' + meeting.userRequest | translate}}</span>　{{'COMMON_LABEL.LBL_UPDATE' | translate}}：{{ meeting.updatedTime}}
        </div>
      </div>
    </div>
  </div>
  <!-- //meeting-detail-stt -->

  <div class="meeting-user-content d-flex p-2" *ngIf="meeting.doctor.userId === userSession.userId">
    <div class="meeting-user-stt d-flex align-items-center justify-content-center" [ngClass]='{"text-danger":(checkEventMeetingStatus(meeting) === "NEW")}'>
      {{'MEETING_STATUS.' + checkEventMeetingStatus(meeting) | translate}}</div>
    <div class="meeting-user-detail d-flex align-items-center px-1">
      <app-mini-profile [userInfo]="mrInfo" [profileOptions]="{'iconSize':76, 'purposeMeeting': true}" (updateImageUrl)="updateInfoImageUrl()"></app-mini-profile>
    </div>
    <div class="meeting-button d-flex align-items-center justify-content-center">
      <a [routerLink]="[meeting.routerLink]" routerLinkActive="nav-link-active">
        <button class="btn btn-secondary fs14">{{'BTN.DETAIL' | translate}}</button>
      </a>
    </div>
  </div>

  <!--user login is mediator-->
  <div class="meeting-user-content d-flex p-2 meeting-cater" *ngIf="meeting.doctor.userId !== userSession.userId">
    <div class="meeting-user-stt d-flex align-items-center justify-content-center" [ngClass]='{"text-danger":(checkEventMeetingStatus(meeting) === "NEW")}'>
      {{'MEETING_STATUS.' + checkEventMeetingStatus(meeting) | translate}}</div>
    <div class="meeting-user-detail d-flex align-items-center px-1">
      <div class="row">
        <div class="col-md-6 col-sm-6 d-flex">
          <app-mini-profile [userInfo]="mrInfo" [profileOptions]="{'iconSize':76, 'officeName': true}" (updateImageUrl)="updateInfoImageUrl()"></app-mini-profile>
        </div>
        <div class="col-md-6 col-sm-6 d-flex meeting-user-cater pt-sm-0 pt-2 mt-2 mt-sm-0">
          <app-mini-profile [userInfo]="drInfo" [profileOptions]="{'iconSize':76, 'jobName': true}" (updateImageUrl)="updateInfoImageUrl()"></app-mini-profile>
        </div>
      </div>
    </div>
    <div class="meeting-button d-flex align-items-center justify-content-center">
      <a [routerLink]="[meeting.routerLink]" routerLinkActive="nav-link-active">
        <button class="btn btn-secondary fs14">{{'BTN.DETAIL' | translate}}</button>
      </a>
    </div>
  </div>
  <!--user login is mediator-->

  <!-- //meeting-detail-content -->
</div>
